.root{
    position: relative;
    width: max-content !important;
}
.icon{
    position: absolute;
    right: -15px;
    top: -5px;
    color: red;
}
.count{
    position: absolute;
    right: -18px;
    top: -8px;
    color: white;
    background: #46BB0C;
    font-size: 10px;
    border-radius: 50px;
    padding: 1px 5px;
}