.send {
  border-radius: 4px;
  background: #46bb0c !important;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;

  color: #fff !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  &:hover {
    background: #46bb0c;
  }
}
.cancel {
  border-radius: 4px;
  border: 1px solid #46bb0c !important;
  background: #fff !important;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;

  color: #46bb0c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  &:hover {
    background: #fff;
  }
}
