.fileInput {
  .uploadButton {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: transparent;
    width: 100%;
    height: 220px;
  }
}
